* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body {
  max-height: 100vmin;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

main {
  height: 100%;
  width: 100%;
}
